<form [formGroup]="form" (ngSubmit)="login()">

  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
        formControlName="oldPassword"
        id="oldPassword" 
        type="text" 
        class="form-control">
  </div>

  <div *ngIf="oldPassword.pending" class="center"><i class="fas fa-spinner rotating"></i></div>

  <div
      class="alert alert-danger"
      *ngIf="oldPassword.touched && oldPassword.invalid">
      <div *ngIf="oldPassword.errors.required">This field is required.</div>
      <div *ngIf="oldPassword.errors.passwordIncorrect">Incorrect old password.</div>
  </div>

  <div formGroupName="password">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
            formControlName="newPassword"
            id="newPassword" 
            type="text" 
            class="form-control">
      </div>
    
      <div
        class="alert alert-danger"
        *ngIf="newPassword.touched && newPassword.invalid">
        <div *ngIf="newPassword.errors.required">This field is required.</div>
      </div>
    
      <div class="form-group">
        <label for="newPasswordConfirmation">Confirm Password</label>
        <input
            formControlName="newPasswordConfirmation"
            id="newPasswordConfirmation" 
            type="text" 
            class="form-control">
      </div>
    
      <div
        class="alert alert-danger"
        *ngIf="newPasswordConfirmation.touched && newPasswordConfirmation.invalid">
        <div *ngIf="newPasswordConfirmation.errors.required">This field is required.</div>
      </div>

      <div 
        class="alert alert-danger"
        *ngIf="newPasswordConfirmation.valid && password.touched && password.invalid">
          <div>Passwords don't match.</div>
      </div>
  </div>

  <p>
    {{ form.value | json }}
  </p>

  <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Change password</button>
</form>