<div class="my-5">
  <h2>Autors list</h2><hr>

  <div *ngIf="authors?.length; then authorsList else noAuthors"></div>
  <ng-template #authorsList>  
    <h4 class="mx-2 my-2">Authors: {{ authorCount }}</h4>
    <ul class="mx-2 my-2">
      <li 
        *ngFor="let author of authors" 
        [attr.data-author-name]="author">
        {{ author }}
      </li>
    </ul>
  </ng-template>

  <ng-template #noAuthors><h3>No authors</h3></ng-template>
</div>

<div class="my-5">
  <h2>Input bindings</h2><hr>

  <input  type="text" class="form-control mx-2 my-2" placeholder="Email"
    [value]="email"
    (keyup.enter)="email = $event.target.value; onEnterEmail()">

  <input type="text" class="form-control mx-2 my-2" placeholder="Name"
    [(ngModel)]="name" 
    (keyup.enter)="onEnterName()">

  <button class="btn btn-primary mx-2 my-2" 
    [class.active]="isActive" 
    (click)="onSave($event)">
    Save
  </button>
</div>

<div class="my-5">
  <h2>Favorites button</h2><hr>

  <button class="btn btn-secondary mx-2 my-2" 
    (click)="toggleFavorite()">
          
    <i class="fa-star"
      [ngClass]= "{
        'fas': isSelected,
        'far': !isSelected
      }"></i>

    {{ (isSelected) ? 'Remove from favorites' : 'Add to favorites' }}
  </button>
</div>

<div class="my-5">
  <h2>Summary custom pipe</h2><hr>

  <p class="mx-2 my-2">
    {{ text | summary:25 }}
  </p>
</div>

<div class="my-5">
  <h2>Title case pipe</h2><hr>

  <input type="text" placeholder="Title case" [(ngModel)]="title" class="form-control mb-2">
  <p>Result: {{ title | titleCase }}</p>
</div>

<div class="my-5">
  <h2>Like button</h2><hr>
  <app-like [likesCount]="tweet.likesCount" [isActive]="tweet.isLiked" (change)="onLikeClicked($event)"></app-like>
</div>

<div class="my-5">
  <h2>Custom appInputFormat directive</h2><hr>
  <input class="form-control" type="text" [appInputFormat]="'uppercase'" placeholder="Phone">
</div>

<div class="my-5">
  <h2>Zippy component</h2><hr>
  <zippy title="Shipping Details">
      Shipping Details Content
  </zippy>
  <zippy title="Billing Details">
      Billing Details Content
  </zippy>
</div>

<div class="my-5">
  <h2>Template-driven forms</h2><hr>
  <contact-form></contact-form>
</div>

<div class="my-5">
  <h2>Course form</h2><hr>
  <course-form></course-form>
</div>

<div class="my-5">
  <h2>Change password</h2><hr>
  <password-change-form></password-change-form>
</div>