<div *ngIf="firebase; else local">
  <firebase-posts></firebase-posts>
</div>
<ng-template #local>
  <input type="text" class="form-control" (keyup.enter)="createPost(title)" #title>
  <ng-container *ngIf='posts as postsList'>
      <ul class="list-group my-3" @topInStagger>
        <li
          *ngFor="let post of postsList"
          class="list-group-item" @bounceOutLeft>
          {{ post.title }}
          <button class="btn btn-default btn-sm btn-update mx-1" (click)="updatePost(post)">Update</button>
          <button class="btn btn-default btn-sm btn-update mx-1" (click)="deletePost(post)">Delete</button>
        </li>
      </ul>
  </ng-container>
</ng-template>