<input type="text" class="form-control" (keyup.enter)="createPost(title)" #title>

<ng-container *ngIf='posts$ | async as postsFromContainer'>
    <ul class="list-group my-3" @topInStagger>
      <li
        *ngFor="let post of postsFromContainer; trackBy: trackPostsObjects"
        class="list-group-item" @bounceOutLeft>
        {{ post.title }}
        <div class="buttons">
            <button class="btn btn-default btn-sm btn-update mx-1" (click)="updatePost(post)">Update</button>
            <button class="btn btn-default btn-sm btn-update mx-1" (click)="deletePost(post)">Delete</button>
          </div>
      </li>
    </ul>
</ng-container>

